<!DOCTYPE html>
<html>
  <head>
    <title>Allegrovivace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="min-vh-100 w-100">
    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="/">やったことある曲りすと</a>
    </nav>
    <%= yield %>
  </body>
</html>
