<!DOCTYPE html>
<html>
  <head>
    <title>Allegrovivace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='fixed-top'>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">やったことある曲りすと</a>
      </nav>
    </div>
    <%= yield %>
    <div class='fixed-bottom'>
      <footer></footer>
    </div>
  </body>
</html>
